*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sintony', sans-serif;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}

img{
    width: 100%;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.header{
    background-color: #fff;
    width: 100%;
}

.logo-text{
    text-transform: uppercase;
    background-color: #63c6ae;
    font-size: 24px;
    margin: 0;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    float: left;
}

.header-nav{
    clear: left;
}

.header-nav ul{
    margin: 0;
    padding: 0;
}

.header-nav li{
    list-style-type: none;
    background-color: #242c2c;
    text-align: center;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

.header-nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    color: #586165;
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 25px 0;
    transition: .5s ease;
}

.header-nav a:hover{
    color: #63c6ae;

}


.header-btnMenu{

}

.hero{
    height: 80vh;
    padding: 40px 20px;
    text-align:center;
    background-image: url('../img/01.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title{
    background-color: #63c6ae;
    color: white ;
    font-size: 28px;
    font-weight: 600;
    padding: 30px 20px;
    text-transform: uppercase;
}

.hero-text{
    background-color: #242a2c;
    color: #fff;
    font-size: 16px;
    padding: 20px;
    margin: 5px 30px 35px;
}

.hero-btn{
    border: 1px solid rgba(255, 255, 255, .3);
    background-color: rgba(0, 0, 0, .2);
    border-radius: 2px;
    padding: 15px 25px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.people-cards{
    margin-top: 2.5em;
}

.people-cards-card{

}

.people-cards-card:hover{
    outline: 5px solid #63c6ae;
    outline-offset: -5px;
}

.people-cards-card:hover .people-cards-avatar img{
    transform: translateY(-50%);
}

.people-cards-card:hover .people-cards-title,
.people-cards-card:hover .people-cards-text{
    color: #63c6ae;
}


.people-cards-img{
    width: 100%;
}

.people-cards-avatar{
    margin: -55px auto;
    width: 88px;
    height: 88px;
    overflow: hidden;
}

.people-cards-content{
    text-align: center;
    padding: 40px 25px 10px;
    border-left: 1px solid #dbe1e7 ;

}


.people-cards-title{
    color: #737c85;
    font-size: 21px;
    font-weight: normal;    
}

.people-cards-text{
    color: #929daf;
    font-size: 14px;

}

.content{
    background-color: #f8f9f9;
    padding: 20px 0 80px;
    border-top:1px solid #e3e3e3;
}

.content h3{
    color: #737c85 ;
    font-size: 21px;
    padding-top: 40px;
    font-weight: 400;
}

.content p{
    color: #929da5;
    font-size: 14px;
    word-spacing: 3px;
}

.button-primary{
    background-color: #69c6ae;
    color: white;
    padding: 15px 40px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    margin-right: 15px;
    display: inline-block;
}

.button-secundary{
    background-color: #455357;
    color: white;
    padding: 15px 40px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    margin-right: 15px;
    display: inline-block;
}


.button-primary:hover{
    background-color: #929da5;
    transition: .5s;
}


.button-secundary:hover{
    background-color: #929da5;
    transition: .5s;
}

.last-articles-title{
    background-color: #63c6ae;
    padding: 5px 0px;
}

.last-articles-title h2{
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}

.last-articles-thumbs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 0;
    background-color: yellow;
}

.last-articles-thumbs img{
    display: block;
    width: 100%;
}



